body {
  background-color: #e0dcd6;
}

body .container {
  width: 72%;
}

.container {
  margin: 90px auto;
  width: 81%;
}

hr {
  background-color: #96826e;
}

small {
  font-family: "Josefin Slab", serif;
}

.App a {
  color: sienna;
}

.App a :hover {
  color: black;
}
